<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="product in products">
                <br>
                <ul>
                    <li v-for="(item,key) of product">
                        {{key}} : {{item}}
                    </li>
                </ul>
                <hr>
            </li>

        </ul>
    </div>
</body>
<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/axios/dist/axios.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        //专门用来发送ajax的方法
        //created 在数据被初始化后会调用 this指向值的是vm实例
        created(){
            axios.get('./tsconfig.json').then(respone =>{
                this.products = respone.data.products;

            })
        },
        data: {
            msg: 'hello world',
            products :[]
        }

    })

</script>

</html>